.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 5px 7.5px 10px rgba(0, 0, 0, 0.15);
	margin: 1rem;
	width: calc(25% - 2rem);
}

.title {
	font-size: 1.2rem;
	font-weight: 900;
	margin: 1.5rem 3rem 0;
}

.imageContainer {
	width: 50%;
	padding: 1.5rem 0;
}

.image {
	width: 100%;
	object-fit: contain;
}

.content {
	padding: 1rem 3rem 1.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
}

.price {
	font-size: 1.2rem;
	color: #0e42fd;
	margin-bottom: 0.5rem;
	font-weight: 900;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.description {
	text-align: center;
	font-weight: 400;
}

.men .content {
	background-color: #2bd9af;
}

.women .content {
	background-color: #ff5e84;
}

.titleShorten {
	display: -webkit-box;
	-webkit-line-clamp: 1; /* Limit title to 1 line */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.descriptionShorten {
	display: -webkit-box;
	-webkit-line-clamp: 4; /* Limit description to 4 lines */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.actions {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

/* removed from App.css and added here */
.image {
	height: 150px;
}