.cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 40vw;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.15);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d9d9d9;
  padding: 1rem;
}

.open {
  transform: translateX(0);
}

.cartItems {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  overflow-y: auto;
  flex-grow: 1;
}

/* hide scrollbar but allow scrolling */
.cartItems {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.cartItems::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-top: 2px solid #d9d9d9;
}

.actions {
  display: flex;
  gap: 1rem;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 900;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}